<section>
  <h1 class="page-header">COMICS</h1>

  <div class="comics-cube-wrapper">
    <div class="cube-top-left"></div>
    <div class="cube-bottom-right"></div>
    <div class="content-cube">
      <h1 class="index-link"><%= link_to "Simon", "index" %></h1>
    </div>
  </div>

  <div class="comics-cube-wrapper">
    <div class="cube-top-left"></div>
    <div class="cube-bottom-right"></div>
    <div class="content-cube">
      <h1 class="index-link"><%= link_to "Victus", "index" %></h1>
    </div>
  </div>

  <div class="comics-cube-wrapper">
    <div class="cube-top-left"></div>
    <div class="cube-bottom-right"></div>
    <div class="content-cube">
      <h1 class="index-link"><%= link_to "Victus", "index" %></h1>
    </div>
  </div>

  <div class="comics-cube-wrapper">
    <div class="cube-top-left"></div>
    <div class="cube-bottom-right"></div>
    <div class="content-cube">
      <h1 class="index-link"><%= link_to "Speculative Relationships", "index" %></h1>
    </div>
  </div>

  <div class="comics-cube-wrapper">
    <div class="cube-top-left"></div>
    <div class="cube-bottom-right"></div>
    <div class="content-cube">
      <h1 class="index-link"><%= link_to "Mighty", "index" %></h1>
    </div>
  </div>

  <div class="comics-cube-wrapper">
    <div class="cube-top-left"></div>
    <div class="cube-bottom-right"></div>
    <div class="content-cube">
      <h1 class="index-link"><%= link_to "VC", "index" %></h1>
    </div>
  </div>

  <div class="comics-cube-wrapper">
    <div class="cube-top-left"></div>
    <div class="cube-bottom-right"></div>
    <div class="content-cube">
      <h1 class="index-link"><%= link_to "Gary", "index" %></h1>
    </div>
  </div>    
</section>

