<!-- Add images model... type: cover, page, detail, issue_id; belongs to issue -->
<!-- page :integer which will be nil for other image types -->
<section>
  <div class="show-header">
    <h1><%= @comic.upcase_name %></h1>
  </div>
  <p><%= @comic.description %></p>

  <div class="issues-index-wrapper">
<!-- LATEST ISSUE IMAGE -->
    <%= link_to "/issues/1" do %>
      <%= image_tag( "#{@comic.series_image}", :class => "issues-main-image") %>
    <% end %>
<!-- ALL IMAGES DESC CREATED_AT-->
    <div class="issues-index">
      <% 5.times do %>
          <%= link_to "/issues/1" do %>
            <%= image_tag( "#{@comic.series_image}") %>
          <% end %>
      <% end %>
    <div>
  </div>
</section>