<section>
  <%= form_tag"/issues", method: :post, controller: 'issues', action: 'file', multipart: true do %>
    <ul class="new-form">
      <li>
        <%= label_tag :title, "Issue title:" %>
        <%= text_area_tag :title %>
      </li>
      <li>
        <%= label_tag :subtitle, "Issue subtitle:" %>
        <%= text_area_tag :subtitle %>
      </li>
      <!-- THIS IS A DROP DOWN SINCE IT'S AN ENUM -->
      <li>
        <%= label_tag :issue_type, "Issue type:" %>
        <%= text_area_tag :issue_type %>
      </li>
      <li class="post-text">
        <%= label_tag :synopsis, "Synopsis:" %>
        <%= text_area_tag :synopsis %>
      </li>
      <li>
        <%= label_tag :paypal_link, "Paypal Url:" %>
        <%= text_area_tag :paypal_link %>
      </li>
      <!-- IMAGES UPLOAD BELOW. ADD FIELDS FOR IMAGE? -->
      <li>
        <%= label_tag :uploaded_image, "Image:" %>
        <%= file_field_tag :uploaded_image %>
      </li>
      <!-- THIS IS A DROP DOWN SINCE IT'S AN ENUM -->
      <li class="post-text">
        <%= label_tag :image_type, "Image type:" %>
        <%= text_area_tag :image_type %>
      </li>
      <!-- THIS FIELD SHOULD BE A DROPDOWN OF NUMBERS -->
      <li class="post-text">
        <%= label_tag :page, "Page (if any):" %>
        <%= text_area_tag :page %>
      </li>
      <li>
        <%= submit_tag "Submit" %>
      </li>
    </ul>
  <% end %>
</section>