<section class="main-section container-fluid">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% counter = 1 %>
      <% 4.times do %>
        <!-- <li data-target="#carousel-example-generic" data-slide-to="#{counter}" class="active"></li> -->
        <li data-target="#carousel-example-generic" data-slide-to="#{counter}"></li>
      <% counter += 1 %>
      <% end %>
    </ol>
    <!-- DIVS BELOW SWITCH ACTIVE STATES -->
    <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag('/uploads/comic/series_image/simonpreview1.jpg', :class => "slideshow-thumbnails", :onclick => "currentDiv(#{counter})" ) %>
        <div class="carousel-caption">
          <h4><%=@comic.name%></h4>
        </div>
      </div>
      <div class="item">
        <%= image_tag('/uploads/comic/series_image/Store_Victus1.jpg', :class => "slideshow-thumbnails", :onclick => "currentDiv(#{counter})" ) %>
        <div class="carousel-caption">
          <h4><%=@comic.name%></h4>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
    <hr>
    <div>
      <%= link_to '/shops' do %>
        <p>STORE</p>
      <% end %>
    </div>
</section>